*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    font-family: 'Roboto','sans-serif';


 }

.sign-up{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}




@media screen and (max-width: 75em){
    .sign-up__form{
        width: 32%;
    }


}

@media screen and (max-width: 56.25em){
    .sign-up__form{
        width: 35%;
    }


}

@media screen and (max-width: 48.75em){
    .sign-up__form{
        width: 42%;
        font-size: 48%;
    }


}

@media screen and (max-width: 40em){
    .sign-up__form{
        width: 45%;
      
    }


}

@media screen and (max-width: 36.25em){
    .sign-up__form{
        width: 55%;
        font-size: 45%;
      
    }


}


@media screen and (max-width: 31.875em){
    .sign-up__form{
        width: 62%;
        font-size: 38%;
      
    }


}

@media screen and (max-width: 29.375em){
    .sign-up__form{
        width: 70%;
  
      
    }


}

@media screen and (max-width: 25em){
    .sign-up__form{
        width: 80%;
  
      
    }


}

@media screen and (max-width: 22.5em){
    .sign-up__form{
        width: 85%;
  
      
    }



}



@media screen and (max-width: 20em){
    .sign-up__form{
        width: 90%;
  
      
    }



 }

.form{
    width: 25%;

    @media screen and (max-width: 1300px) {
        width: 35%;

    }

    @media screen and (max-width: 1200px) {
        width: 35%;
    }

    @media screen and (max-width: 1050px) {
        width: 40%;
    }

    @media screen and (max-width: 850px) {
        width: 45%;
    }

    @media screen and (max-width: 670px) {
        width: 55%;
    }

    @media screen and (max-width: 580px) {
        width: 65%;
    }

    @media screen and (max-width: 450px){
        width: 75%;
    }

    @media screen and (max-width: 400px){
        width: 80%;
    }
}

.sign-up__header{
    color: #2b9348;
    font-size: 3.0rem;
    margin-bottom: 3rem;
    
}

.sign-up__form--group{
    margin-bottom: 2rem;
    position: relative;
}

.input{
line-height: 1.2;
font-size: 1.4rem;
display: block;
width: 100%;
background: transparent;
height: 55px;
padding: 0 25px 0 27px;
border: none;
background-color: #eee;

@media screen and (max-width: 1050px) {
    font-size: 1.3rem !important;
}

@media screen and (max-width: 580px) {
    font-size: 1.15rem !important;
}



}

.input2{
    line-height: 1.2;
    font-size: 1.4rem;
    display: block;
    width: 100%;
    background: transparent;
    height: 55px;
    padding: 0 25px 0 27px;
    border: none;
    background-color: #eee;


    
    
    
    }



.input:focus{
    outline: none;
    border-bottom: 3px solid #7ed56f;

}




.submit{
    display: inline-block;
    height: 55px;
    margin-top: 1.5rem;
    padding: 0 25px 0 27px;
    width: 100%;
    color: #FFF;
    background-color:#7ed56f; 
    border: none;
    font-size: 1.45rem;
    text-transform: uppercase;
    transition: all .2s;

    @media screen and (max-width: 1050px) {
        font-size: 1.4rem !important;
    }
    
    @media screen and (max-width: 580px) {
        font-size: 1.3rem !important;
    }

    
}

.submit:hover{
    transform: translateY(-3px);    
    box-shadow:  0 1rem 2rem #999;
}

.submit:active{
        outline: none;
        transform: translate(-1px);
        display: inline-block;
}

.account{
    font-size: 1.2rem;
    margin-top: 1.4rem;

    @media screen and (max-width: 1050px) {
        font-size: 1.15rem !important;
    }
    
    @media screen and (max-width: 580px) {
        font-size: 1rem !important;
    }
    
}