//Colors
$color-text-primary: #eee;
$color-outline: #2b9348;
$color-gradient-dark: #28b485;
$color-gradient-light: #7ed56f;


//Font
$font-main: 'Roboto',
'sans-serif';
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    @media screen and (max-width: 75em){
        font-size: 50%;
    }

    @media screen and (max-width: 56.25em) {
        font-size: 45%;
    }

    @media screen and (max-width: 43.75em) {
        font-size: 40%;
    }


}

body {
    font-family: $font-main;
    color: $color-text-primary;
    background-color: #f7f7f7;
    margin: 0;
   
    
    

    
    display: grid;
    grid-template-rows: 100vh min-content 40rem 20rem 20rem 20rem repeat(3, min-content);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
         
    @media screen and (max-width: 56.25em){
        grid-template-rows: max-content min-content 40rem 20rem 20rem;
    }
}