*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 56.25em) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 43.75em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Roboto", "sans-serif";
  color: #eee;
  background-color: #f7f7f7;
  margin: 0;
  display: grid;
  grid-template-rows: 100vh min-content 40rem 20rem 20rem 20rem 20rem 20rem 20rem;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media screen and (max-width: 56.25em) {
  body {
    grid-template-rows: max-content min-content 40rem 20rem 20rem;
  }
}

.header {
  background-color: #eee;
  grid-column: 1 / -1;
  position: relative;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url("../images/bgimage.jpg");
  grid-row: 1 / 2;
  background-size: cover;
}

@media screen and (max-width: 56.25em) {
  .header {
    clip-path: none;
    height: 70vh;
  }
}

.header .logreg {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 56.25em) {
  .header .logreg {
    padding: 4rem;
  }
}

.header .logreg .login {
  margin-right: 3.5rem;
}

.header .logreg .register {
  margin-right: 2rem;
}

.header .logreg .btn {
  height: 2.4rem;
  display: inline-block;
  color: #fff;
  border: none;
  background: none;
  font-size: 1.7rem;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width: 56.25em) {
  .header .logreg .btn {
    font-size: 2rem;
  }
}

.header .logreg .btn:focus {
  outline: none;
}

.header .logreg .btn:active {
  outline: none;
}

.header .logreg .btn:hover::after {
  cursor: pointer;
  height: 2px;
  opacity: 1;
  transform: translateY(0px);
}

.header .logreg .btn::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.header .welcome {
  position: absolute;
  text-align: center;
  top: 44.5%;
  left: 52.5%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 29.375em) {
  .header .welcome {
    width: 80%;
  }
}

.header .welcome__text {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4.3rem;
}

@media screen and (max-width: 38.125em) {
  .header .welcome__text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 35em) {
  .header .welcome__text {
    font-size: 3rem;
  }
}

.header .welcome__text--main {
  letter-spacing: 2rem;
  display: block;
  margin-bottom: 2rem;
}

.header .welcome__text--alt {
  letter-spacing: 2rem;
  display: block;
}

.header .btn-white, .header:link, .header:visited {
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 25px 75px;
  display: inline-block;
  border-radius: 100px;
  background-color: #fff;
  color: #1D976C;
  font-size: 1.8rem;
  transition: all .2s;
  margin-right: 2rem;
}

@media screen and (max-width: 25rem) {
  .header .btn-white, .header:link, .header:visited {
    padding: 20px 60px;
  }
}

.header .btn-white:hover, .header:link:hover, .header:visited:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2);
}

.header .btn-white:active, .header:link:active, .header:visited:active {
  outline: none;
  transform: translate(-1px);
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.2);
}

.summary {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-columns: 1fr;
  margin-top: 3.7rem;
}

.summary__text {
  color: #888;
  font-size: 1.45rem;
  padding: 0 2.3rem;
  line-height: 2;
}

.header-2 {
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(#7ed56f, #28b485);
  margin-bottom: 2.3rem;
}

@media screen and (max-width: 56.25em) {
  .header-2 {
    margin-top: 10rem;
    margin-bottom: 3.5rem;
  }
}

.data {
  grid-row: 3 / 6;
  grid-column: 1 / -1;
  margin-top: 17rem;
  background-image: linear-gradient(#7ed56f, #28b485);
  align-items: center;
  transform: skewY(-7deg);
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50%;
}

@media screen and (max-width: 56.25em) {
  .data {
    transform: none;
  }
}

@media screen and (max-width: 31.25rem) {
  .data {
    grid-template-columns: 70%;
  }
}

@media screen and (max-width: 25em) {
  .data {
    grid-template-columns: 80%;
  }
}

.form__container {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 5rem;
  height: 65%;
  width: 80%;
  border-radius: 3px;
  transform: skewY(7deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 36.25rem) {
  .form__container {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 25rem) {
  .form__container {
    padding: 4rem;
  }
}

@media screen and (max-width: 21.875) {
  .form__container {
    width: 100%;
  }
}

.form__container .header-form {
  color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(#7ed56f, #28b485);
  margin-bottom: 2.3rem;
}

@media screen and (max-width: 25rem) {
  .form__container .header-form {
    font-size: 2rem;
  }
}

@media screen and (max-width: 56.25em) {
  .form__container {
    transform: none;
    height: 72.5%;
  }
}

.form__container .form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__container .form__group {
  padding: 1rem;
}

.form__container .form__group .input {
  border: none;
  color: #999;
  display: block;
  transition: all .2s;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.5rem 3rem;
  text-align: start;
  width: 100%;
}

@media screen and (max-width: 36.5rem) {
  .form__container .form__group .input {
    padding: 2.2rem 3.6rem;
  }
}

.form__container .form__group .input:focus {
  outline: none;
  border-bottom: 3px solid #7ed56f;
}

@media screen and (max-width: 56.25em) {
  .form__container .form__group .input::placeholder {
    font-size: 1.5rem;
  }
}

.form__container .form .submit {
  color: #28b485;
  display: block;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #28b485;
  padding: 5px;
  background-color: transparent;
  font-size: 1.6rem;
  transition: all .2s;
  text-align: start;
  font-size: 1.3rem;
}

@media screen and (max-width: 56.25em) {
  .form__container .form .submit {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}

.form__container .form .submit:hover {
  color: #fff;
  background-color: #28b485;
}

.graph {
  grid-row: 6 / 6;
  grid-column: 1 / 5;
  margin-top: 15rem;
  position: relative;
}
